Library Imports

In [2]:
import pandas as pd
import numpy as np
import math
import xlsxwriter
import requests

In [3]:

stocks = pd.read_csv('sp_500_stocks.csv')
from secrets import IEX_CLOUD_API_TOKEN

In [4]:
symbol='AAPL'
api_url = f'https://sandbox.iexapis.com/stable/stock/{symbol}/quote?token={IEX_CLOUD_API_TOKEN}'
data = requests.get(api_url).json()
data

{'avgTotalVolume': 66915558,
 'calculationPrice': 'close',
 'change': -2.72,
 'changePercent': -0.0156,
 'close': 171.92,
 'closeSource': 'ifflaoic',
 'closeTime': 1675662230660,
 'companyName': 'Apple Inc',
 'currency': 'USD',
 'delayedPrice': 177.74,
 'delayedPriceTime': 1685685101392,
 'extendedChange': -0.8,
 'extendedChangePercent': -0.00459,
 'extendedPrice': 172.32,
 'extendedPriceTime': 1725574907385,
 'high': 175.3,
 'highSource': 'Cloes',
 'highTime': 1713397362163,
 'iexAskPrice': None,
 'iexAskSize': None,
 'iexBidPrice': None,
 'iexBidSize': None,
 'iexClose': 175.84,
 'iexCloseTime': 1724825779930,
 'iexLastUpdated': None,
 'iexMarketPercent': None,
 'iexOpen': 179.765,
 'iexOpenTime': 1735157521932,
 'iexRealtimePrice': None,
 'iexRealtimeSize': None,
 'iexVolume': None,
 'lastTradeTime': 1675012214401,
 'latestPrice': 176.45,
 'latestSource': 'Close',
 'latestTime': 'August 19, 2022',
 'latestUpdate': 1674926268147,
 'latestVolume': 73071095,
 'low': 171.92,
 'lowSource': 'eru dcien5yemalid1ept  ',
 'lowTime': 1665288208678,
 'marketCap': 2866799473655,
 'oddLotDelayedPrice': 175.04,
 'oddLotDelayedPriceTime': 1727796222238,
 'open': 175.3,
 'openTime': 1696020425868,
 'openSource': 'iclfoiaf',
 'peRatio': 29.46,
 'previousClose': 175.66,
 'previousVolume': 62737909,
 'primaryExchange': 'NDQASA',
 'symbol': 'AAPL',
 'volume': 71311972,
 'week52High': 189.14,
 'week52Low': 133.86,
 'ytdChange': -0.04673433242934951,
 'isUSMarketOpen': False}

In [5]:
data['latestPrice']
data['marketCap']

2866799473655

Adding stocks data to pandas dataframe

In [6]:

my_columns = ['Ticker', 'Stock Price', 'Market Capitalization', 'Number of Shares to buy ']
final_dataframe = pd.DataFrame (columns=my_columns)
final_dataframe

Empty DataFrame
Columns: [Ticker, Stock Price, Market Capitalization, Number of Shares to buy ]
Index: []

In [7]:
final_dataframe = final_dataframe.append(
                                        pd.Series(['AAPL', 
                                                   data['latestPrice'], 
                                                   data['marketCap'], 
                                                   'N/A'], 
                                                  index = my_columns), 
                                        ignore_index = True)
final_dataframe

C:\Users\adeen\AppData\Local\Temp\ipykernel_6804\2737606595.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final_dataframe = final_dataframe.append(

  Ticker Stock Price Market Capitalization Number of Shares to buy
0   AAPL      176.45         2866799473655                      N/A

Looping Through The Tickers in Our List of Stocks

In [ ]:
final_dataframe = pd.DataFrame(columns = my_columns)
for symbol in stocks['Ticker']:
    api_url = f'https://sandbox.iexapis.com/stable/stock/{symbol}/quote?token={IEX_CLOUD_API_TOKEN}'
    data = requests.get(api_url).json()
    final_dataframe = final_dataframe.append(
                                        pd.Series([symbol, 
                                                   data['latestPrice'], 
                                                   data['marketCap'], 
                                                   'N/A'], 
                                                  index = my_columns), 
                                        ignore_index = True)

In [9]:
final_dataframe

   Ticker Stock Price Market Capitalization Number of Shares to buy
0       A      138.95           41649471175                      N/A
1     AAL       14.78            9294871197                      N/A
2     AAP       208.7           12768052756                      N/A
3    AAPL      175.08         2847723613743                      N/A
4    ABBV      144.78          253881469953                      N/A
5     ABC       155.8           32599536384                      N/A
6    ABMD       277.4           12680475069                      N/A
7     ABT      114.75          198019011006                      N/A
8     ACN      323.16          211709848691                      N/A
9    ADBE     442.699          202347497924                      N/A
10    ADI         168           90346125184                      N/A
11    ADM       87.36           50337670988                      N/A
12    ADP      262.84          108367024794                      N/A
13   ADSK      226.81           50405054793                      N/A
14    AEE       98.83           25820936680                      N/A
15    AEP      106.83           54342828669                      N/A
16    AES       25.76           17431936649                      N/A
17    AFL       64.45           42029319624                      N/A
18    AIG        56.3           43242436474                      N/A
19    AIV         9.4            1465882821                      N/A
20    AIZ      172.96            9493209728                      N/A

Using batch api calls to improve performance
# https://stackoverflow.com/questions/312443/how-do-you-split-a-list-into-evenly-sized-chunks

In [10]:
def chunks(lst,n):
    """Yield successive n-sized chunks from lst."""
    for i in range(0, len(lst), n):
        yield lst[i:i+n]

In [ ]:
symbol_groups = list(chunks(stocks['Ticker'], 100))
symbol_strings = []
for i in range(0, len(symbol_groups)):
    symbol_strings.append(','.join(symbol_groups[i]))
#     print(symbol_strings[i])

final_dataframe = pd.DataFrame(columns = my_columns)

for symbol_string in symbol_strings:
#     print(symbol_strings)
    batch_api_call_url = f'https://sandbox.iexapis.com/stable/stock/market/batch/?types=quote&symbols={symbol_string}&token={IEX_CLOUD_API_TOKEN}'
    data = requests.get(batch_api_call_url).json()
    for symbol in symbol_string.split(','):
        final_dataframe = final_dataframe.append(
                                        pd.Series([symbol, 
                                                   data[symbol]['quote']['latestPrice'], 
                                                   data[symbol]['quote']['marketCap'], 
                                                   'N/A'], 
                                                  index = my_columns), 
                                        ignore_index = True)

In [ ]:
final_dataframe

    Ticker Stock Price Market Capitalization Number of Shares to buy
0        A      139.02           42775641901                      N/A
1      AAL       14.18            9549005952                      N/A
2      AAP      208.52           13074203490                      N/A
3     AAPL      175.39         2890460183616                      N/A
4     ABBV      143.65          260571796115                      N/A
..     ...         ...                   ...                      ...
130     DG      258.32           59847874456                      N/A
131    DGX      137.87           16091034915                      N/A
132    DHI       75.07           26184003959                      N/A
133    DHR      298.13          220812630306                      N/A
134    DIS      124.83          227780025336                      N/A

[135 rows x 4 columns]

In [13]:
portfolio_size = input("Enter the value of your portfolio:")

try:
    val = float(portfolio_size)
except ValueError:
    print("That's not a number! \n Try again:")
    portfolio_size = input("Enter the value of your portfolio:")

In [ ]:
positon_size = val/len(final_dataframe.index)
for i in range(0,len(final_dataframe.index)):
    final_dataframe.loc[i, 'Number of shares to buy:'] = math.floor(position_size / final_dataframe['Price'][i])

# number_of_apple_shares = positon_size/500
# print(math.floor(number_of_apple_shares))

In [ ]:
final_dataframe

   Ticker Stock Price Market Capitalization Number of Shares to buy
0       A      142.01           42499842410                      N/A
1     AAL       14.42            9360268330                      N/A
2     AAP      215.65           13104075693                      N/A
3    AAPL      179.35         2773903416401                      N/A
4    ABBV      147.58          252392538504                      N/A
5     ABC       155.4           31944423338                      N/A
6    ABMD      279.21           12773445064                      N/A
7     ABT      114.29          200139009409                      N/A
8     ACN      326.64          216604671392                      N/A
9    ADBE     430.239          205359018392                      N/A
10    ADI         171           88924609636                      N/A
11    ADM       90.21           49416337226                      N/A
12    ADP      264.43          109323372124                      N/A
13   ADSK         226           48930175749                      N/A
14    AEE       97.67           25444195008                      N/A
15    AEP      107.17           55414416487                      N/A
16    AES        26.1           17150793544                      N/A
17    AFL       64.32           40900985231                      N/A
18    AIG        58.4           44351204874                      N/A
19    AIV        9.47            1428181432                      N/A
20    AIZ      177.56            9496319217                      N/A
21    AJG       194.6           41602142711                      N/A
22   AKAM      100.82           15869586567                      N/A
23    ALB      274.72           32479013355                      N/A
24   ALGN      270.76           21077215057                      N/A
25    ALK       47.24            5881242026                      N/A
26    ALL       136.6           35327997448                      N/A
27   ALLE      106.85            9756780925                      N/A
28   ALXN         188           40483299660                      N/A
29   AMAT       108.1           93577448573                      N/A
30   AMCR       12.77           19338452171                      N/A
31    AMD        98.4          155053174431                      N/A
32    AME       134.7           30899952895                      N/A
33   AMGN       261.4          139210175274                      N/A
34    AMP      288.63           30867349880                      N/A
35    AMT      279.52          129134940579                      N/A
36   AMZN      138.77         1474667476821                      N/A
37   ANET         136           40986019538                      N/A
38   ANSS      278.38           24439988574                      N/A
39   ANTM      485.96          116740520600                      N/A
40    AON      314.46           65500906143                      N/A
41    AOS       64.24           10421598180                      N/A
42    APA       37.53           12341068018                      N/A

Formatting our Excel Output  
"intitilizing our Xlxswriter object"

In [ ]:
writer = pd.ExcelWriter('recommended trades.xlxs', engine = 'xlsxwriter')
final_dataframe.to_excel(writer, 'Recommended Trades', index = False)

Creating the format required for .xlxs file

-format includes colors, fontstyles, symbols

In [ ]:
background_color = '#0a0a23'
font_color = '#ffffff'

string_format = writer.book.add_format(
    {
                'font_color': font_color,
                'bg_color': background_color,
                'border': 1
    }
)

dollar_format = writer.book.add_format(
    {
                'num_format': '$0.00',
                'font_color': font_color,
                'bg_color': background_color,
                'border': 1
    }
)

integer_format = writer.book.add_format(
    {
                'num_format': '0',
                'font_color': font_color,
                'bg_color': background_color,
                'border': 1
    }
)

Applying the Formats to the Columns of Our .xlsx File
We can use the set_column method applied to the writer.sheets['Recommended Trades'] object to apply formats to specific columns of our spreadsheets.

Here's an example:

writer.sheets['Recommended Trades'].set_column('B:B', #This tells the method to apply the format to column B
                     18, #This tells the method to apply a column width of 18 pixels
                     string_format #This applies the format 'string_format' to the column
                    )

In [ ]:
writer.sheets['Recommended Trades'].write('A1', 'Ticker', string_format)
writer.sheets['Recommended Trades'].write('B1', 'Price', string_format)
writer.sheets['Recommended Trades'].write('C1', 'Market Capitalization', string_format)
writer.sheets['Recommended Trades'].write('D1', 'Number Of Shares to Buy', string_format)
writer.sheets['Recommended Trades'].set_column('A:A', 20, string_format)
writer.sheets['Recommended Trades'].set_column('B:B', 20, dollar_format)
writer.sheets['Recommended Trades'].set_column('C:C', 20, dollar_format)
writer.sheets['Recommended Trades'].set_column('D:D', 20, integer_format)
writer.save()

This code works, but it violates the software principle of "Don't Repeat Yourself".

Let's simplify this by putting it in 2 loops:

In [ ]:
column_formats = { 
                    'A': ['Ticker', string_format],
                    'B': ['Price', dollar_format],
                    'C': ['Market Capitalization', dollar_format],
                    'D': ['Number of Shares to Buy', integer_format]
                    }

for column in column_formats.keys():
    writer.sheets['Recommended Trades'].set_column(f'{column}:{column}', 20, column_formats[column][1])
    writer.sheets['Recommended Trades'].write(f'{column}1', column_formats[column][0], string_format)

Saving Our Excel Output
Saving our Excel file is very easy:

In [ ]:
writer.save()